<!--
    Esse seria o arquivo HTML principal, aqui sao colocados todos os elementos referenciados no app.modules.ts

-->
<app-mygenerated></app-mygenerated>
<hr>
<mat-card class="example-card">
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
        <mybasic></mybasic> <!-- Componente basico criado no angular-->
    </mat-card-title>
        <mat-card-subtitle>
            <mycomposite></mycomposite> <!-- Componente composto criado no angular -->
        </mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
    <p>
        Exemplo de um elemento criado usando o material design.
    </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-fab color="primary">LIKE</button>
        <button mat-fab color="accent">SHARE</button>
    </mat-card-actions>
</mat-card>
<hr>
<app-main-lifecycle></app-main-lifecycle>
<hr>
<h2>ngDoCheck, ngAfterContentChecked, ngAfterViewChecked</h2>
<app-check></app-check>
<br>
<hr>
<br>
<h2>Serviços Exemplo de funcionamento</h2>
<mat-slide-toggle #toggle1>Component1</mat-slide-toggle>
<mat-slide-toggle #toggle2>Component2</mat-slide-toggle>
<mat-slide-toggle #toggle3>Component3</mat-slide-toggle>
<mat-slide-toggle #toggle4>Component4</mat-slide-toggle>
<app-component1 *ngIf="toggle1.checked"></app-component1>
<app-component2 *ngIf="toggle2.checked"></app-component2>
<app-component3 *ngIf="toggle3.checked"></app-component3>
<app-component4 *ngIf="toggle4.checked"></app-component4>
<app-basic></app-basic>
<app-hot-observables></app-hot-observables>
<app-subject></app-subject>
<app-rxjs></app-rxjs>