<br /><br />
<hr>
<h2>Operadores</h2>
<button class="botaoObs" (click)="pipeMap()">MAP</button>
<button class="botaoObs" (click)="pipeDelay()">Delay</button>
<button class="botaoObs" (click)="funcaoTap()">TAP</button>
<button class="botaoObs" (click)="filtroFunction()">Filter</button>
<button class="botaoObs" (click)="firstFuncao()">First</button>
<button class="botaoObs" (click)="lastFuncao()">Last</button>
<button class="botaoObs" (click)="takeFuncao()">Take</button>
<br /><br />
<button id="debounceTime" class="botaoObs" [ngClass]="classe">DebounceT</button>
<button class="botaoObs" (click)="takeWhileFunction()">Take While</button>
<button class="botaoObs" (click)="takeUntilFunction()">Take Until</button>