<div id="reactive-forms">
    <div id="reactive-form1">
        <h3>Exemplo de Form Controls</h3>
        <!-- Voce usa a diretiva [formControl] para monitorar o elemento no arquivo TS. -->
        <p><input type="text" [formControl]="formControlBasico"/></p>
        <p>Valor: {{resultadoBasico}}</p>
        <p><button (click)="exibirEstruturaFormControl()">Estrutura do FormControl</button></p>
    </div>
    <!-- 
        [formGroup] => Essa a diretiva para o formgroup que envolve todos os elementos.
        formGroupName => Use essa diretiva aqui para formgroups internos.
        formControlName => use essa diretiva, caso voce queira referenciar um formControl dentro de um formGroup
        Lembre-se que diretivas envoltas de [] serao interpoladas, assim como as () serao invocadas.        
    -->
    <div id="reactive-form2" [formGroup]="grupo">
        <h3>Exemplo de Form Group</h3>
        <p><input type="text" placeholder="input1" formControlName="input1"/></p>
        <p><input type="text" placeholder="input2" formControlName="input2"/></p>    
        <div formGroupName="subatributo">
            <input type="text" formControlName="input3" placeholder="input3"/>
            <input type="hidden" formControlName="input4"/>
        </div>            
        <p><button (click)="executarFormGroup()">Exibir inputs Montado</button></p>
    </div>
    <div id="reactive-form3" [formGroup]="builder">
        <h3>Exemplo de Form Builder</h3>
        <input type="text" formControlName="atributo" placeholder="atributo"/>
        <br>
        <div formGroupName="objeto">
            <input type="text" formControlName="subatributo" placeholder="subatributo"/>
        </div>
        <p><button (click)="executarBuilder()">Excutar Builder</button></p>
    </div>
    <div id="reactive-form4" >
        <h3>Exemplo de Form Array</h3>
        <ng-container [formGroup]="camposExemplos">
            <ng-container *ngFor="let input of camposExemplos.controls; let indice=index">            
                <input type="text" placeholder="Campo Array Exemplo" [formControlName]="indice"/>            
            </ng-container>       
        </ng-container>
        <br>           

        <ng-container [formGroup]="camposExemplosComplexo">
            <ng-container *ngFor="let input of camposExemplosComplexo.controls; let indice=index">
                <ng-container [formGroupName]="indice">
                    <input type="color" formControlName="cor"/>
                    <input type="range" formControlName="range"/>
                </ng-container>
            </ng-container>   
        </ng-container>
        <button (click)="adicionarInputsArray()">Criar Novo Campo</button>
        <button (click)="exibirValorDosInputsArray()">Exibir Valores dos Inputs</button>
    </div>
    
</div>
