#reactive-forms div{
    display: inline-block;
    width: 45%;
    border:2px solid black; 
    margin-top: 10px;    
}
#reactive-form1{
    background-color: blue;
    color:white;
    padding-left: 10px;
}
#reactive-form2{
    background-color: red;
    color:white;
    padding-left: 10px;
}
#reactive-form3{
    background-color: green;
    color:white;
    padding-left: 10px;
}
#reactive-form4{
    background-color: purple;
    color:white;
    padding-left: 10px;
}
input,button{
    display: block;
    
}