<html>
  <head>
    <title>VUE</title>
    <meta charset='UTF-8'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      .classe{
        background-color: red;
      }
    </style>
  </head>
  <body>
    <div id="seletor">
      <!-- 
        O Vue funciona assim, voce informa um seletor ao Vue e ele renderiza
        aonde eh indicado para ele renderizar, o seletor eh informado no
        atributo el.
        Eh dessa forma como exibida abaixo, que voce chama um atributo
        no VUE, tudos os atributos criados dentro do data, voce pode chamar
        usando chaves duplas e o Vue renderiza.
      -->
      <p>{{atributo_vue}}</p>
      <!-- 
          o ':' ele pega o valor do atributo informado e faz um {{}} no atributo,
          seria algo do tipo href={{link}}, esse parametro eh a forma resumida do
          v-bind:href="link". O Bind ele eh uma comunicacao Unidirecional, ou seja
          se alterar ali, nao altera o valor no atributo dentro do Vue.
      -->
      <a :href="link">Exemplo de link</a>
      <!-- 
        O v-model diferente do v-bind acima, permite uma comunicacao bi-direcional,
        ou seja quando muda o valor no html a variavel eh atualizada no exato momento,
        eh como se houvesse um onchange no elemento sincronizando a variavel com o valor
        do elemento, muito interessante para ser usado em formularios. Simplesmente coloca
        o v-model="o atributo a ser sincronizado", No caso a sincronizacao ocorre com o 
        atributo vmodelo.
        Temos tambem o controle de eventos no vue, o @ substitui o 'v-on:', repare que no
        caso abaixo temos ambos tanto o @ como o v-on e fazem exatamente a mesma coisa, uma
        vez que assim como o : eh o resumo do bind o @ eh do v-on. Com relacao ao v-on o mesmo
        lida com eventos, eh como se fosse o onclick, ou on change, porem com a sintaxe levemente
        diferente. alem disso voce tem metodos que padrao no evento, por exemplo ao inves de 
        voce colocar o metodo keyup e depois tratar as teclas, aqui voce pode colocar a notacao '.'
        e a tecla a ser tratada, e assim sera executado, apenas quando aquela tecla em especifico
        for pressionado, tambem temos o '.stop' que tem o metodo padrao relacionado para parar eventos
        exemplo de uso: v-on:click, @change, @mouseover.stop.
      -->
      <p>{{vmodelo}}</p>
      <input type='text' v-model='vmodelo' v-on:keyup.enter="teclaEnter" @keyup.esc="teclaEsc"/>
      <!-- 
        Chamando uma funcao, repare que a mesma foi declarada dentro do atributo metodo, dentro
        do objeto Vue. Uma vez declarada la voce pode fazer essa chamada, seguindo a sintaxe
        abaixo.
      -->
      {{minhaFuncao()}}
      <br /> <br />
      <!-- 
        Aqui em baixo temos o dado computado. Ele permite criar funcoes como o methods, porem
        a forma de chamada dele eh diferente, a funcao eh chamada como se fosse um arquivo,
        pode ser interessante para criar funcoes de callback, ou funcoes que retorne os dados
        prontos.
      -->
      {{computado}}
      <hr />
      <!-- a diretiva abaixo nao renderiza o componente quando falso, apenas verdadeiro -->
      <p v-if="false">Nao sera Renderizado</p>
      <!-- a diretiva abaixo apenas seta o display como none, mas renderiza. -->
      <p v-show="false">Tera o display setado como none, diferente do anterior que nao foi renderizado.</p>
      <div>
        <!-- 
          Temos tambem a diretiva v-for. A diretiva v-for funciona como laco for do javascript
          Voce pode tambem chamar a variavel de interacao usnado o {{suaVariavel}} no meio do laco.
          Com essa diretiva eh possivel misturar o html com um laco javascript. Assim como temos um laco
          classico como o criado abaixo que vai ate 9, podemos ter tambem lacos customizaveis, para arrays e objetos.
        -->
        <span v-for="n in 9">{{n}}, </span><hr />
        <!-- 
          Tambem podemos usar o v-for para varrer objetos, usando a sintaxe abaixo, esse seria equivalente
          ao forEach, enquanto o de cima o forIn, (chave,valor) in objeto.
        -->
        <span v-for="(chave, valor) in objeto">{{chave}} : {{valor}}<br/></span>
      </div>
      <hr />
      <div v-for="n in 3">
        <!-- 
          Tambem temos a sintax if, else if e else para o Vue, seguindo a sintaxe abaixo.
          No caso apenas 1 desses 3 blocos funcionara a cada iteracao, como qualquer desvio
          condicional.
        -->
        <span v-if="n == 1">Numero 1</span> <!-- equivalente ao if -->
        <span v-else-if="n>1 && n<3">Numero 2</span> <!-- equivalente ao else if -->
        <span v-else>Numero 3</span> <!-- equivalente ao else -->
      </div>
      <hr>
      <!-- 
        O Vue tambem em um toggle para classes, como o JQuery por exemplo. Inicialmente
        temos que o click ele recebe o inverso do booleano, porem a novidade esta no 
        atributo :class. O :class recebe um objeto, que inclusive pode ter o seu atributo
        envolto de aspas, ficando: {'classe': booleano}", nesse exemplo a classe se refere
        ao estilo em css criado anteriormente e o booleano eh o atributo dentro do atributo
        data.
      -->
      <h1 @click="booleano = !booleano" :class="{classe: booleano}">Clique para efeito de Texto</h1>
      <hr>
      <div id="template">
          <!-- Aqui dentro estara o conteudo criado dinamicamente pelo Vue. -->
      </div>
    </div>
    <script>
      const vue = new Vue({
        el:"#seletor", //Aqui eh informado o seletor Vue.
        data:{ //Todas os atributos criados aqui podem ser chamados diretamente com {{}}
          atributo_vue:"Exemplo de atributos vue", //Usado para chamar no {{}}
          link:"#linkClicado", //usado no v-bind.
          vmodelo:"exemplo", //usado no v-model.
          objeto:{primeiro:1,segundo:2,terceiro:3}, //tambem eh aceito objetos.
          booleano:false //Usado para Toggle de classe.
        },
        methods:{ //Aqui voce pode declarar as funcoes a ser utilizadas na pagina.
          minhaFuncao: function minhaFuncao(){
            console.log('minha funcao');
          },
          teclaEsc: function(){
            alert('Tecla ESC Pressionada');
          },
          teclaEnter: function(){
              alert('Tecla Enter Pressionada');
          }
        },
        computed:{ //Funcoes computadas, sao chamadas como callback e nao envocadas.
          computado: function computado(){
            return 'Dados Computado';
          }
        },
        watch:{ //Monitora se houve as mudancas nos atributos dentro de data.
        /* 
          Voce informa como atributo, o mesmo nome que esta no data, uma vez feito isso
          voce passa uma funcao, assim quando ocorrer alguma mudanca na variavel, essa
          funcao eh executada aqui, no caso essa funcao chama o console.log quando o
          vmodelo eh modificado. O mesmo segue um principio funcional, sendo assim o 
          primeiro parametro, eh referente a mudanca percebida.
        */
          vmodelo: function mudou(valorNovo){
            console.log(valorNovo);
          }
        },
        
      });
      const vue2 = new Vue({
        el:"#template",
        /*
          O template ele eh uma especie de innerHTML do vue, 
        esse atributo limpa o elemento selecionado pelo atributo 
        el e coloca o conteudo do atributo template em seu lugar.
        */
        template:"<div>Criado com o atributo template do Vue.</div>"
      });
    </script>  
  </body>
</html>