button{
    margin-right: 10px;
    background-color: purple;
    color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 20px purple;
    border-color: purple;
}

button:hover{
    background-color: blue;
    box-shadow: none;
}

.routers{
    box-shadow: 10px 10px 10px black;
    padding-bottom: 20px;
    background-color: gray;    
}

.observable{
    margin-top: 40px;
}

.obs{
    padding:10px;
    border:1px solid black;
}
.obs:nth-child(even){
    background-color: red;
    color:white;
}
.obs:nth-child(odd){
    background-color: cyan;    
}
h2 span{
    color:red;    
}

.h3repeat{
    margin-top: 24px;
}

.repeat{            
    color:white;
    padding:10px;
    display: inline-block;
}

.repeat:nth-child(odd){
    border: 2px solid blue;
    background-color: blue;
}

.repeat:nth-child(even){
    border: 2px solid red;
    background-color: red;
}

.repeat span{
    font-size: larger;
    font-weight: 600;    
}
