<!-- 
    Essa interpolacao abaixo, ocorre atraves do atributo de mesmo nome, 
    declarado na classe, dentro do arquivo "comunication.component.ts".
-->
<hr>
<h2>Componente comunication</h2>
<p><b>{{atributo}}</b></p>
<p><b>{{variavel}}</b></p>
<p>Agora um exemplo de passagem de objeto:<br> 
    <!-- 
        Aqui temos um exemplo de uso de um objeto. Esse valor abaixo eh passado
    como um valor interpolado ao componente.
    -->
<b>Texto:{{objeto.texto}}</b><br>
<b>Numero: {{objeto.numero}}</b><br>
<b>Eh verdadeiro: {{objeto.booleano}}</b>
</p>
<hr>