table{
    min-width:500px;
    align-items: center;
    float: left;
}
.paragrafo{
    align-items: center;
}
legend{
    background-color:black;
    color: white;
    font-size: 24px;
    align-items: center;
}
thead,th{
    background-color: black;
    color:white;
}
.bexcluir{
    background-color: red;
    color:white;
    font-weight: 900;
}
#adicionar{
    border: 1px solid black;
    margin-left: 20px;
}
h2{
    margin-left: 20px;
}