<p>mygenerated works!</p>
<!-- 
    Aqui no exemplo abaixo temos a interpolacao de um objeto, essa eh uma forma de passar um objeto como
    parametro para um componente, nesse caso sera interpolado o atributo objeto e esse atributo eh um
    objeto, e dessa forma esse valor sera passado como parametro. O atributo objeto esta localizado dentro
    do arquivo "mygenerated.components.ts", dentro da classe: "MygeneratedComponent".
    Tambem estamos passando o metodo "eventoDaClasse", encontrado no arquivo mygenarated.components.ts
    para o evento "(eventoOutput)", encontrado no arquivo comunication.components.ts, veja la para mais informacoes.  
-->
<app-comunication atributo="Exemplo de passagem de parametro de componente." 
    parametro="Exemplo mais complexo de passagem de parametro" [objeto]="objeto" 
    (eventoOutput)="eventoDaClasse()" (eventoComplexo)="eventoDaClasseComplexo($event)">
</app-comunication>

<button mat-fab (click)="componente.metodoInside()" color="secondary">#Hash</button>
<!-- 
    Voce pode referenciar esse componente como variavel, criando a variavel usando a hastag,
    nesse caso quando chamado como variavel, apenas aqui no html e nao na classe, la voce
    faz usando notacoes. componente -> faz referencia a esse componente registrado,
    nesse caso seria a classe "InsideComponent" do arquivo "inside.components.ts".
    Repare que esse componente em questao eh referenciado no botao acima, o mesmo chama
    o metodoInside, quando clicado, que no caso pertence a esse componente abaixo.
-->
<app-inside #componente>
    <p style="color:red"><b>Elementos passado como parametros ao chamar tag.</b></p>
    <p style="color:green"><b>Um outro texto passando um outro.</b></p>
</app-inside>
