<!-- 
    Essa interpolacao esta relacionado com o atributo de mesmo nome, 
    essa variavel eh um atributo dentro de inside.components.ts
-->
<p>{{exemplo1}}</p>
<!-- 
    Essa interpolacao eh de um atributo interno de um objeto dentro da classe,
    no caso "exemplo.exemplo1", dentro do arquivo inside.components.ts
-->
<p>{{exemplo.exemplo1}}</p>
<!-- 
    Aqui no exemplo abaixo nos temos uma interpolacao de string, nesse caso
    o resultado sera a soma da expressao abaixo, expressoes como essa abaixo,
    sao resolvidas antes na hora da renderizacao.
-->
<p>{{ 10+10 }}</p>
<!-- 
    Aqui temos um exemplo de uma interpolacao do valor, nesse caso quando
    voce coloca os colchetes dentro do atributo, ou da diretiva como eh
    chamado no Angular, o mesmo trata o valor como se fosse uma variavel.
    Nesse caso o color vai procurar o valor no array colors no indice,
    previamente especificado, nesse caso pela variavel indice, tanto o 
    indice assim como o array colors esta setado na classe que renderiza 
    todo esse html. O exemplo abaixo vai resultar em um botao like piscante.
-->
<button mat-fab [color]="colors[indice]">LIKE</button>