<div>
    <!-- 
        Usando a tag ng-content, voce pode inserir o conteudo
        que eh passado na tag superior, no arquivo mygenerated
        eh passado dois elementos <p>.
        Eles seram exibidos no caso aonde tem a tag ng-content,
        nesse caso essa tag abaixo vai renderizar:
<p style="color:red"><b>Elementos passado como parametros no no superior.</b></p>
<p style="color:green"><b>Um outro texto passando um outro elemento dentro do superior.</b></p>
    -->
    <ng-content></ng-content>
</div>
<!-- 
    Essa interpolacao esta relacionado com o atributo de mesmo nome, 
    essa variavel eh um atributo dentro de inside.components.ts
-->
<p>{{exemplo1}}</p>
<!-- 
    Essa interpolacao eh de um atributo interno de um objeto dentro da classe,
    no caso "exemplo.exemplo1", dentro do arquivo inside.components.ts
-->
<p>{{exemplo.exemplo1}}</p>
<!-- 
    Aqui no exemplo abaixo nos temos uma interpolacao de string, nesse caso
    o resultado sera a soma da expressao abaixo, expressoes como essa abaixo,
    sao resolvidas antes na hora da renderizacao.
-->
<p>{{ 10+10 }}</p>
<!-- 
    Aqui temos um exemplo de uma interpolacao do valor, nesse caso quando
    voce coloca os colchetes dentro do atributo, ou da diretiva como eh
    chamado no Angular, o mesmo trata o valor como se fosse uma variavel.
    Nesse caso o color vai procurar o valor no array colors no indice,
    previamente especificado, nesse caso pela variavel indice, tanto o 
    indice assim como o array colors esta setado na classe que renderiza 
    todo esse html. O exemplo abaixo vai resultar em um botao like piscante.
-->
<button mat-fab [color]="colors[indice]">LIKE</button>
<br><br>
<!-- 
    Aqui nos temos um exemplo de como funciona os eventos do Angular,
    os eventos padroes do Angular tem nomes parecidos com o do Jquery,
    entretanto os mesmos devem estar dentro de parentes e o seu valor,
    dever o metodo correspondente na classe. No caso a coisa functiona assim
    (evento)="metodoNaClasse(Parametro)", no caso o metodo eh criado
    no corpo da sua classe, nesse caso o metodo esta dentro do inside.component.ts.
    O Parametro passado eh o $event, nesse caso o $event eh uma variavel criado
    pelo angular e que pode ser passado como parametro de um metodo, para que voce
    possa interceptar um evento.
    (input) => Evento padrao de qualquer componente, o mesmo contem atributos diversos.
    (change) => Evento ocorre quando ocorre uma mudanca de estado.
    (click) => Evento ocorre quando o mesmo eh clicado.
-->
<mat-checkbox (input)="checkboxFunction($event)" (change)="checkboxFunction($event)" (click)="checkboxFunction($event)">Check me!</mat-checkbox>
<br><br><br>
<mat-form-field>
    <mat-label>Cars</mat-label>
        <mat-select matNativeControl required (selectionChange)="setCars($event)">
            <mat-option value="volvo">Volvo</mat-option>
            <mat-option value="saab">Saab</mat-option>
            <mat-option value="mercedes">Mercedes</mat-option>
            <mat-option value="audi">Audi</mat-option>
        </mat-select>
</mat-form-field>
<br>
<p>Carro selecionado: {{cars}}</p>
<br>
<!-- 
    Tanto o select acima, assim como o input abaixo usam
    do mecanismo da two way data binding, ou seja elas recebem
    e escreve dados do mesmo atributo da classe, no caso 
    o select le os dados na interpolacao dentro da p, e escreve
    no evento selectionChange, ficar esperto que o select tem
    eventos diferente dos outros elementos.
    Abaixo temos o input que tambem segue esse mesmo two way data binding
-->
<br>
<mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" (input)="inputText($event)" value="">
</mat-form-field>
<p>Valor do input: {{input}}</p>
<br>
<!-- 
    Abaixo nos temos a diretiva ngClass, essa diretiva eh responsavel
    por definir a classe do elemento abaixo. funciona como as outras 
    diretivas, porem como tem os colchetes o valor eh interpolado, logo
    o valor passado aqui se refe a um atributo da classe, nesse caso
    um array.
-->
<button mat-fab [(ngClass)]="classDirective[classDirectiveIndex]" (click)="classDirectiveFunction()">Change</button>
<br><br>
<!-- 
 *ngIf => Essa diretiva estrutural funciona exatamente igual os Ifs nas
linguagens de programacao. Inicialmente repare que o mesmo possui um
asteriscos na frente do nome da diretiva. a mesma pode aceitar tanto um
atributo da classe, assim como o exemplo abaixo.
[ngStyle] => Essa diretiva eh a responsavel por decorar o elemento
a estrutura para isso eh usando objetos em javascript, no estilo chave/valor,
ja com relacao aos atributos, os atributos compostos devem seguir o padrao 
camelcase, os atributos do tipo background-color que se torna backgroundColor,
margin-left => marginLeft e por ai vai, assim como acontece dentro atributo style
dentro de cada objeto node. Lembrando sempre, como esta dentro das chaves o valor
eh interpolado, nesse caso no ng style voce informa objeto, contendo os atributos
a serem decorados e por fim as variaveis ou array como eh o caso contendo valores.
-->
<!-- Aqui o *ngIf recebe um valor boolean de um atributo. -->
<div *ngIf="isActiveLabel" [ngStyle]="{backgroundColor: ngstyle[0],color:ngstyle[1]}">EXEMPLO DA DIRETIVA NGCLASS</div>
<!-- Nesse segundo exemplo o *ngIf recebe valores de maneira direta. -->
<!-- 
    Aqui temos um exemplo de if com else, repare que o else eh
    informado depois da expressao de if, no caso voce tem if
    a expressao do if e ai depois da expressao do if, voce 
    tem o else, nesse caso o else esta chamando uma referencia
    de codigo o "mytemplate", essa expressao da falsa, logo
    essa referencia de codigo sera chamada. Ela sera melhor
    explicada logo mais abaixo.
-->
<div *ngIf="(true && false) || false else mytemplate" [ngStyle]="{backgroundColor: ngstyle[0],color:ngstyle[1]}">EXEMPLO DA DIRETIVA NGCLASS</div>
<br>
<button mat-fab (click)="changeLabelVisibility()">Hide</button>
<!-- 
    Aqui temos um exemplo do laco for, se por acaso tivessemos apenas:
    "let alvo of arrays", ainda assim funcionaria, mas sem os indices,
    o funcionamento basico do laco for no angula eh semelhante ao do
    javascript, voce cria uma variavel com let para ser a variavel que
    recebera valores de cada indice ou propriedade a cada interacao,
    diferente do javascript que voce escolhe var ou let, aqui eh apenas 
    let mesmo, var nao vai funcionar, e por fim o array la na classe que
    esta referenciando esse html. Ficando assim:
    let "<variavel>" of "<seu array>" sem o ponto e virgula se for uma so sentenca
    Nesse nosso for, tem uma segunda sentenca logo precisa de um ponto e virgula,
    ai temos um novo let, que atribui a variavel i o valor do index, que nesse
    caso eh o indice, logo o mesmo comeca do zero e nao do valor 1.
    Todas as diretivas estruturais devem comecar com asteriscos, repare isso na
    sintaxe abaixo, assim como o ngIf, o ngFor tambem precisa comecar com asteriscos.
-->
<p *ngFor="let alvo of arrays; let i=index">{{i}}:{{alvo}} </p>
<!-- 
    Aqui abaixo um exemplo de como funciona o switch case no Angular,
    Inicialmente voce interpola ou informa o valor se nao for interpolar
    no ngSwitch. Se interpolado, ou seja com os colchetes, entao voce informa
    o atributo na classe que contem o valor, caso nao interpolado, ou seja
    sem os parenteses, entao voce informa o valor.
    Logo dentro da div, nos temos os case do switch e o default, que nesse
    caso funciona como qualquer case e default padrao na linguagem de programacao.
    Mas lembre-se que a sintaxe tem um asterisco na frente e como valor desse
    atributo voce informa o valor a ser comparado, se for 1, cai no case1, se for 2,
    cai no case 2, e se for qualquer numero diferente de 1 ou 2, cai no case default.
-->
<div [ngSwitch]="indice">    <!-- equivale a switch(indice){-->
    <p *ngSwitchCase="1">Indice esta em: 1</p> <!-- equivale a case:1 -->
    <p *ngSwitchCase="2">Indice esta em: 2</p> <!-- equivale a case:2 -->
    <p *ngSwitchDefault>Indice esta em: 0</p> <!-- equivale a default: -->
</div> <!-- Aqui esta equivalendo a } -->

<!-- 
    Aqui nos temos a referencia do mytemplate, usada tambem no exemplo
    de if/else acima. Toda vez que for referenciado o mytemplate dentro
    do html, sera feito referencia ao interior desse trecho de codigo abaixo
    no caso quando for chamado por um desvio condicional o mytemplate
    esse trecho de codigo dentro do ng-template sera exibido. No caso evite
    criar um atributo com o mesmo nome dessa referencia, uma vez que ambos sao
    referenciados de maneira semelhante.   
-->
<hr>
<ng-template #mytemplate>
    <p>Exemplo de <b>ng-template</b>.</p>
    <p>Uma vez chamado a referencia #mytemplate</p>
</ng-template>
<!-- 
    Um exemplo do uso do conteiner, ele seria o equivalente
    Angular do Fragment-React do React. Porem o seu uso
    geralmente quando voce quer usar o For com algum desvio
    condicional, nesse caso o if. O angular nao permite 
    que um mesmo elemento HTML tenha duas diretivas com asteriscos,
    ou seja caso voce precise que o elemento tenha um for
    e um if por exemplo, voce deve usa-lo dentro de container,
    usando o ng-container, diferente do ng-template
    que precisa ser invocado, esse nao precisa, eis ai uma
    diferenca entre os dois. No exemplo abaixo o container
    contem o laco for.
-->
<ng-container *ngFor="let alvo of arrays; let i=index">    
    <!-- 
        O If no angular eh ligeiramente bizarro, mas tente 
        entender a logica, se verdadeiro, nesse caso se 
        "I" resto de divisao diferente de zero, ele eh um numero
        impar, logo ele renderiza o proprio elemento, caso
        nao seja, ele ira renderizar um elemento ng-template,
        nesse caso o fragmento par. Assim sendo, geralmente
        usa-se o ng-container com o for e o ng-template como
        resultado de algum else. Dessa forma o for executa
        todo o container e case ao if/else ou renderizar
        o propio elemento ou redenrizar um ng-template se
        cair no else, ou nao renderizar nada caso nao tenha
        um else, porem esse ultimo exemplo eh de como funciona
        o for junto com o if/else.
    -->
    <div *ngIf="i%2!=0 else fragmentoPar">
        <span>Valor impar</span>
        <br>
    </div>
</ng-container>
<ng-template #fragmentoPar>
    <span>Valor Par</span>
    <br>
</ng-template>