.classe1{
    color:red;
    background-color: yellow;
    font-size: 16px;    
}
.classe2{
    color:yellow;
    background-color: red;
    font-size: 16px;    
}
.estilo{
    color:blue;
    background-color: white;
    font-size: 16px;
}