/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red{
    color:rgb(255,144,157)
}

.v-middle{
    vertical-align: middle;
}

.msg-success{
    background-color: darkmagenta;
    color:white;
    box-shadow: 10px 10px 10px black;
}

.msg-error{
    background-color: red;
    color:black;
    box-shadow: 0px 0px 5px gray;
}