.state{
    background-color: lightblue;
    padding: 20px;    
    box-shadow: 0px 0px 20px blue;
}

.state-getter{
    margin-left: 10px;
    color:black;
    text-shadow: 2px 2px gray;
}

.state-input{
    background-color: lightslategray;
    padding:20px;
    width:500px;
    box-shadow: 5px 5px 0px black;
    margin: 20px;
}

.state-btn{
    width: 50px;
    margin-right: 20px;
    margin-left: 100px;
    border-radius: 20px;
    padding:10px;
    background-color: cadetblue;
    color:white;
    font-weight: 700;
    border: none;
    box-shadow: 5px 5px black;
}

.effect{
    background-color: lightcoral;
    box-shadow: 10px 10px coral;
    padding: 25px;
    max-width: 90%;
}

.effect-show{
    background-color: chocolate;
    padding-top:25px;
    padding-bottom: 25px;
    padding-left: 25px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    color:black;
    margin-left:20px;    
}

.effect-input{
    margin-left: 30px;    
}

.effect-input > input{
    width: 10%;
    height: 50px;
    font-size: 24px;
    border:none;
    border-radius: 10px;
    text-align: center;
}

.ref{
    padding: 50px;
    background-color: rgb(120, 240, 240);
    width: 90%;
    box-shadow: 10px 10px darkcyan;
    color:blue;
    font-size: 24px;
}

.ref-inner {
    background-color: darkslategray;
    padding: 30px;
    color:whitesmoke;
    text-shadow: 1px 1px white;
}

.ref-inner .ref-btn{
    width: 10vw;
    box-shadow: 5px 5px black;
    background-color: brown;
    color:white;
    margin-right: 20px;
}

.memo{
    background-color: orange;
    width: 90%;
    padding:20px;
    box-shadow: 10px 10px orangered;
}

.memo-result{
    color: cornflowerblue;  
    font-size: 32px;   
}

.memo-btn{
    background-color: rgba(255,255,255,.7);
    width: 50%;
    padding: 10px;    
    margin-left: 20px;
}

.memo label{
    font-size: 20px;
}

.memo input{
    border:none;
    padding:10px;
    font-size: 20px;
}

div.context{
    background-color: orangered;
    padding:20px;
    width: 90%;
    box-shadow: 10px 10px darkred;
}

div.context input{
    border: none;
    margin-left: 40px;
    height:50px;
    font-size: 36px;
}

.reduce{
    background-color: cadetblue;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px darkgreen;
    width: 90%;    
    font-size: 36px;    
}

.reduce-display:nth-child(1){
    color: white;
    margin-bottom: 20px;
}

.reduce-inputs > input,textarea{
    margin-bottom: 30px;    
    font-size:14px;
}

.reduce-inputs > input{
    width: 100px;
    height: 50px;
    font-size: 36px;
    border: 2px solid greenyellow;
    box-shadow: 5px 5px greenyellow;
}

.reduce-inputs > textarea{
    border: 2px solid greenyellow;
    box-shadow: 5px 5px greenyellow;
    width: 90%;
    height: 50px;
}