<h1>Rota Padrao</h1>
<p>
    Repare que a URL muda, mas os valores sao carregados imediatamente, alem disso apenas essa parte muda, esse eh o poder do single aplication 
    e porque ele tem alto desempenho. Repare tambem que o parametro se mantem o mesmo, quando voce vai na rota de parametro, ate que voce de refresh, 
    clique no botao "Parametro:[NUMERO_ALEATORIO]" e veja, que o numero fica o mesmo, por mais que voce mude de rota e a url chegue a mudar. 
    Ao desabilitar esse modulo no radio button e habilitar novamente, repare que um novo numero aleatorio eh criado, isso acontece porque o 
    Angular mata o componente quando voce clica para desabilitar exemplos de rotas, e cria denovo.
</p>
<router-outlet></router-outlet>